
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.artifact-thumbnail {
	
	height: 75px;
	width: 75px;
}

.project-wrapper {
    
    display: block;
    width: 215px;
    border: solid #CCC 2px;
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.project-placeholder {
    
    height: 200px;
    width: 200px;
    border: dashed 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=100);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit-button-container input[type="submit"] {
    outline: none;
    background: none;
    border: none;
}


th.rotate {
    
    height: 150px;
    white-space: nowrap;
}

th.rotate > div {
    
    transform:

        translate(8px, 50px)
        rotate(315deg);
    width: 45px;

}

th.rotate > div > span {
    
    border-top: 0px solid #CCC;
    border-bottom: 0px solid #CCC;
    border-left: 0px solid #CCC;
    border-right: 0px solid #CCC;
    padding: 6px 0px 6px 10px;
    margin: 0px;
}

td.grid {margin: 0px; border: 1px solid #CCC;  text-align:center;}

.footer {text-align: center;}





