
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.artifact-thumbnail {
	
	height: 75px;
	width: 75px;
}

.project-wrapper {
    
    display: block;
    width: 215px;
    margin: 5px;
    padding: 5px;
    border: 0px solid #CCC;
    background-color: #FFF;
    }

.project-placeholder {
    
    height: 200px;
    width: 200px;
    border: dashed 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-placeholder-text {
    overflow-wrap: normal;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: .0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit-button-container input[type="submit"] {
    outline: none;
    background: none;
    border: none;
}

// typanus.net

/*.inputfile {
    
    width: 0.1px;
    height:0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;

}

.inputfile:focus + label,
.inputfile + label:hover {
   background-color: red; 
}*/

.footer {text-align: center;}

@media print {
  a[href]:after {
    content: none !important;
  }
}






