
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.artifact-thumbnail {
	
	height: 50px;
	width: 50px;
}

.project-placeholder {
    
    height: 200px;
    width: 200px;
    border: dashed 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit-button-container input[type="submit"] {
    outline: none;
    background: none;
    border: none;
}
