
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.artifact-thumbnail {
	
	height: 100px;
	width: 100px;
}

.component-wrapper {
    
    position: relative;
    display: block;
    font-size: 1em;
    text-align: left;
    width: 120px;
    margin: 5px;
    padding: 5px;
    border: 0px solid #FFF;
    background-color: #CCC;
    float:left;
    }

.component-owner {
    
    text-align: left;
    padding: 5px;
    border: 0px solid #FFF;
    background-color: #CCC;
    color: #333;
    }

.component-display img { 

    border: solid #FFF 1px;
    margin: 5px;
    width: auto;
    
    }

.component-missing {
    
    height: 100px;
    width: 100px;
    margin: 5px;
    border: solid 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    }

.component-number-badge {
    position: absolute;
    text-align: center;
    z-index: 10;
    color: #FFF;
    padding: 3px;
    margin: 5px;
   
    background-color: #333;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: .0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.submit-button-container input[type="submit"] {
    outline: none;
    background: none;
    border: none;
}

// typanus.net

/*.inputfile {
    
    width: 0.1px;
    height:0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;

}

.inputfile:focus + label,
.inputfile + label:hover {
   background-color: red; 
}*/

.footer {text-align: center;}

@media print {
  a[href]:after {
    content: none !important;
  }
}







